.chats {
    width: 70%;
    text-align: end;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chats__header {
    display: flex;
    padding: 10px;
    background-color: #F0F2F5;
    max-width: 100%;
}

.chats__header p {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
}

.chats > p {
    font-size: 18px;
}

.chats__message-container {
    flex-grow: 1; 
    overflow: hidden;
    overflow-y: scroll;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
  }

.chats__send-message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #F0F2F5;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.chats__footer {
    margin-top: auto;
  }

.chats__send-message > input {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

.chats__guest {
    display: flex;
    align-self: flex-start;
    margin: 15px 0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    max-width: calc(45% - 10px); /* 45% минус отступы */
    width: fit-content;
}

.chats__owner {
    display: flex;
    align-self: end;
    margin: 15px 0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    max-width: calc(45% - 10px); /* 45% минус отступы */
    width: fit-content;
}

.button-send {
    border: none;
}

.button-reload {
    border: none;
}